{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Polls Index Title' %}{% endblock %}

{% block content %}
    <h1>{% translate 'Polls Index Title' %}</h1>
    <hr>
    <ul>
        {% for question in question_list %}
            <li>
                <a href="{% url 'polls-detail' question.id %}">
                    {{ question.question_text }}
                </a>
            </li>
        {% empty %}
            <p>{% translate 'There is no polls yet' %}</p>
        {% endfor %}
    </ul>
{% endblock %}